{% extends 'base.html' %}
{% block content %}
<a href="{% url 'home2' %}">Home2</a><br/>
<h1>Bill of Lading</h1>
<div class="container">
		<div class="row"> 

	{% if all_bills %}
		{% for records in all_bills %}
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
	  				<img src="..." class="card-img-top" alt="...">
	  					<div class="card-body">
		    				<h5 class="card-title">{{ records.bl_number}}</h5>
		    				<p class="card-text">
			    				{{ records.bill_number}}<br/>
								{{ records.shipper}}<br/>
								{{ records.consignee}}<br/>
								{{ records.notify_party}}<br/>
								{{ records.port_of_loading}}<br/>
								{{ records.port_of_discharge}}<br/>
								{{ records.container_quantity1}}<br/>
								{{ records.container_type1}}<br/>
								{{ records.container_quantity2}}<br/>
								{{ records.container_type2}}<br/>
								{{ records.package_quantity1}}<br/>
								{{ records.package_type1}}<br/>
								{{ records.package_quantity2}}<br/>	
								{{ records.package_type2}}<br/>
								{{ records.kg_weight}}<br/>
								{{ records.m3}}<br/>
								{{ records.container_number}}<br/>
							</p>
	    					<a href="{% url 'edit' records.id %}" class="btn btn-secondary">Edit</a>
		  				</div>
					</div>
					</br>
				</div>

			
	

		{% endfor %}

	{% endif %}
</div></div>

{% endblock %}