{% load static %}

{% block title %} Shipment Count {% endblock title %}
{% block content %}

    <center>
    <h1>KPI Clearing Shipments for {{ month }} {{ year }}</h1>
 
    As of {{ time }}
    <br/><br>
    
    {{cal|safe }}
    <br/><br>
   
    <h3> Shipments This Month</h3>
    {% if shipment_list %}
        {% for Shipment in shipment_list %}
        {{shipment}} - {{shipment.actual_delivery}}
        <br/>
        {% endfor %}
    {% else %}
    Sorry...no shipments this month 
    {% endif %}
    </center>

<canvas id="myChart" width="200" height="200"></canvas>

{% block scripts %}
<script>
$(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: "{{ months|safe|default:'[]'|escapejs }}",

            datasets: [{
                label: "Shipment Count",
                backgroundColor: "#000000",
                data: JSON.parse("{{ data|safe|default:'[]'|escapejs }}"),
                
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
});
</script>
{% endblock scripts %}


  


Copyright (c) {{current_year}}
{% endblock content %}

