{% extends 'base.html' %}
{% load static %}
{% block content %}
	
<h1>Edit Shipment</h1>
<br/>

{% if get_shipment %}
	<form method="POST">
	{% csrf_token %}

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value={{get_shipment.shipment_id}} name="shipment_id">
</div>

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{get_shipment.consignee}}" name="consignee">
</div>

<div class="form-group">
	<input type="date" class="form-control" id="date" aria-describedby="emailHelp" value="get_shipment.ata" name="ata">
</div>

<div class="form-group">
	<input type="date" class="form-control" id="date" aria-describedby="emailHelp" value="{{get_shipment.cargo_available}}" name="cargo_available">
</div>

<div class="form-group">
	<input type="date" class="form-control" id="date" aria-describedby="emailHelp" value="{{get_shipment.date_cleared}}" name="date_cleared">
</div>

<div class="form-group">
	<input type="date" class="form-control" id="date" aria-describedby="emailHelp" value="{{get_shipment.actual_delivery}}" name="actual_delivery">
</div>

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{get_shipment.cont}}" name="cont">
</div>

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{get_shipment.twenty_ft}}" name="twenty_ft">
</div>

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{get_shipment.forty_ft}}" name="forty_ft">
</div>

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{get_shipment.uw}}" name="uw">
</div>

<div class="form-group">
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{get_shipment.weight}}" name="weight">
</div>

<div class="form-group">
	<input type="hidden" value="{{ get_shipment.id" name="id">
</div>

<br/>
<button type="submit" class="btn btn-secondary">Edit Shipment</button>
</form>
<br/>
<br/>
<form method="POST" action="{% url 'delete' get_shipment.id %}">
	{% csrf_token %}
	<input type="hidden" value="{{ get_shipment.id }}" name="id">
	<button type="submit" class="btn btn-secondary">Delete Shipment</button>
</form>



{% endif %}	

{% endblock %}