{% extends 'base.html' %}

{% block content %}
	
	{% if all_shipments %}
		{% for records in all_shipments %}
			{{ records.shipment_id}}<br/>
			{{ records.consignee}}<br/>
			{{ records.ata}}<br/>
			{{ records.cargo_available}}<br/>
			{{ records.date_cleared}}<br/>
			{{ records.actual_delivery}}<br/>
			{{ records.cont}}<br/>
			{{ records.twenty_ft}}<br/>
			{{ records.forty_ft}}<br/>
			{{ records.uw}}<br/>
			{{ records.weight}}<br/>
			<hr/>

		{% endfor %}

	{% endif %}
	

{% endblock %}