{% extends 'base.html' %}

{% block content %}
	<h1>Add Shipments</h1>

	<form method="POST">
		{% csrf_token %}

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Shipment #" name="shipment_id">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Consignee" name="consignee">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Actual Arrival" name="ata">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cargo Available" name="cargo_available">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Cleared" name="date_cleared">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Actual Delivery" name="actual_delivery">
		</div>


	  <button type="submit" class="btn btn-secondary">Add Shipment</button>
	</form>



	

{% endblock %}