{% extends 'base.html' %}

{% block content %}
	<h1>Add Shipments</h1>

	<form method="POST">
		{% csrf_token %}

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Shipment #" name="shipment_id">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Consignee" name="consignee">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Actual Arrival" name="ata">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cargo Available" name="cargo_available">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Cleared" name="date_cleared">
		</div>

		<div class="form-group">
			<input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Actual Delivery" name="actual_delivery">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Container Type" name="cont">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="20ft Container Qty" name="twenty_ft">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="40ft Container Qty" name="forty_ft">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit of Measure" name="uw">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Weight" name="weight">
		</div>

	  <button type="submit" class="btn btn-secondary">Add Shipment</button>
	</form>



	

{% endblock %}