<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home2' %}">
      <i class="bi bi-house-door-fill"></i> SLL Database
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home2' %}active{% endif %}" href="{% url 'home2' %}">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">
              <i class="bi bi-person-circle"></i> {{ user.username }}
           >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">
              <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



