<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing' %}">Home Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>

          {% if 'dash_board.can_view_page_ops' in user_permissions %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ops' %}">Operations</a>
            </li>
          {% endif %}

          {% if 'dash_board.can_view_page_finance' in user_permissions %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'finance' %}">Finance</a>
            </li>
          {% endif %}

          {% if 'dash_board.can_view_page_hr_support' in user_permissions %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hr_support' %}">HR</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <span class="navbar-text text-white mx-3">
              User: {{ user.first_name|default:user.username }}

            </span>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

