$navbar-bg-color: #343a40;  // Or any preferred navbar background
$navbar-bg-color: #343a40;

$primary-color: #f8f9fa;
$secondary-color: #2ecc71;
$navbar-bg-color: #343a40;
$navbar-text-color: #ffffff;
$border-radius: 5px;

<<<<<<< HEAD
$color-ops: #3B5998;
=======
$color-transport: #3B5998;
>>>>>>> heroku/master
$color-finance: #708090;
$color-qhse: #228B22;
$color-hr: #6A5ACD;
$color-info: #008080;
<<<<<<< HEAD
=======
$color-warehouse: #795548;
$color-cf: #009688;
$color-revops: #ff9800;
$color-docs: #607d8b;


>>>>>>> heroku/master
