@import "../../../node_modules/bootstrap/scss/bootstrap";

// Your custom styles
.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input, canvas, button {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}