<form>

    <div class="form-row">
        <div class="col-5 col-md-3">    
            <label for="inputclientponumber">Client PO Number</label>
            <input type="text" class="form-control" id="inputclientponumber" placeholder="Client PO Number">
        </div>
        
        <div class="col-5 col-md-3">    
            <label for="inputQuantity">Quantity</label>
            <input type="text" class="form-control" id="inputquantity" placeholder="Quanitity">
        </div>

        <div class="col-5 col-md-3">
            <label for="inputgoodsdescription">Goods Description</label>
            <input type="text" class="form-control" id="inputgoodsdescription" placeholder="Goods Description">
        </div>

        <div class="col-5 col-md-3">    
            <label for="inputHSCode">HS Code</label>
            <input type="text" class="form-control" id="inputhscode" placeholder="HS Code">
        </div>
        
        <div class="col-5 col-md-3">
            <label for="inputnetweight">Net Weight</label>
            <input type="text" class="form-control" id="inputnetweight" placeholder="Net Weight">
        </div>

        <div class="col-3 align-self-end">
            <button type="submit" class="btn btn-primary">Submit</button> 
        </div>
    </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>